/*!
 * Copyright 2018 Alfonso Nishikawa
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

.shadow {
  @include box-shadow(0 1px 2px 0 rgba(0,0,0,0.2));
}

.nav-tree-badge:after {
  position: absolute;
  height: 18px;
  width: 3.3em;
  display: inline-block;
  text-align: center;
  top: 50%;
  margin-top: -9px;
  right: 12px;
  color: #fff;
  font-weight: 600;
  font-size: 10px;
  line-height: 18px;
}

.pop-out {
  @include box-shadow(2px 2px 8px 2px #ccc);
}

.circular {
  border-radius: 50%;
}
