<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
        
    <wb-module deploy-name="goraexplorer">
        <wb-resource deploy-path="/WEB-INF/web.xml" source-path="/src/main/WEB-INF/web.xml"/>
                
        <wb-resource deploy-path="/" source-path="/target/m2e-wtp/web-resources"/>
                
        <wb-resource deploy-path="/" source-path="/src/main/webapp" tag="defaultRootSource"/>
                
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/java"/>
                
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/resources"/>
                
        <wb-resource deploy-path="/WEB-INF" source-path="/src/main/WEB-INF"/>
                
        <property name="context-root" value="goraexplorer"/>
                
        <property name="java-output-path" value="/goraexplorer/target/classes"/>
            
    </wb-module>
    
</project-modules>
